
/*To change the styling set byt the main styling sheet*/
.flexContainer {
  align-items: stretch;
}

/*Adds styling to the two columns on the page*/
#right_now,
#seasons {
  padding: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
