.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.orderButton {
  padding: 5px 30px;
  border: solid 3px;
  border-radius: 10px;
  text-decoration: none;
  color: #f0f0f0;
  font-family: "Arimo", arial, sans-serif;
}
