body {
  width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Arimo', cursive;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.textBlock {
  flex: 1;
  padding: 50px;
}

.imgBlock {
  flex: 1;
  padding: 50px;
}

p {
  color: #f0f0f0;
  font-family: "Arimo", arial, sans-serif;
  text-shadow: 2pt 2pt rgba(22, 22, 22, 0.28);
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
  color: #f0f0f0;
  font-family: "Bowlby One SC", arial black, sans-serif;
  text-shadow: 3pt 3pt rgba(22, 22, 22, 0.28);
  text-transform: uppercase;
}

.mainContent {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*Navbar and topbar styling*/

/*Override default button css*/
.navbar button,
.topbar button {
  /*color: rgba(00, 00, 00, 0);*/
  background-color: rgba(00, 00, 00, 0); /*Color is whatever, but transparent*/
  border: none;
  outline: none;
  cursor: pointer;
}

/*Logo*/
.cornerLogo {
  width: 150px;
  height: auto;
}

/*Outer flex container in topbar and navbar*/
.flexWrapper {
  margin: 30px; /*To not squisch logo and buttons into the side*/
  display: flex;
  justify-content: space-between; /*Just tried something here*/
}

/*Title is in topbar*/
.pageTitle {
  align-self: flex-end; /*Be on the bottom of the box*/
}

#navbarTextFlexContainer {
  flex-grow: 1; /*This div takes up all available space*/
  display: flex;
  justify-content: space-evenly; /*Just tried something, looks good I think*/
  align-items: center; /*Align text vertically in the middle*/
}

/*Override standard link styling*/
#navbarTextFlexContainer h2 a {
  color: #f0f0f0;
  text-decoration: none;
}

/*Styling for enlarge_picture.js*/
#largeImgContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#overlay {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,.8);
  z-index: 999;
}

.fullPage{
  min-height: 100%;
  width: 100%;
  position: absolute;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;

}
.fa:hover {
  opacity: 0.7;
}
  /* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: white;
}

.footer{
  color: #f0f0f0;
  font-family: "Arimo", arial, sans-serif;
  position: absolute;
  text-align: left;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height:50px;
  background: #22222E;
  line-height: 50px;
}

/*Responsive*/
@media only screen and (max-width: 800px) {
  .flexContainer {
    flex-direction: column;
  }

  .flexContainer:nth-of-type(2n+1) {
    flex-direction: column-reverse;
  }

  .textBlock {
    padding-bottom: 10px;
  }

  .imgBlock {
    padding-top: 10px;
  }
}
