
.mainContent {
  background-color: #F68035;
  padding: 2% 5%;
}

label {
  color: #0f0f0f;
  font-family: "Arimo", arial, sans-serif;
  text-shadow: 2pt 2pt rgba(22, 22, 22, 0.28);
  font-size: 20pt;
  color: white;
}

.row {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

input, textarea {
  width: 70%;
  margin-left: 10px;
  padding: 2px;
}

#buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

#cancel {
  background-color: Transparent;
  color: #3279DE;
  font-family: "Arimo", arial, sans-serif;
  font-size: 16pt;
  padding: 5px 15px;
  border: solid;
  border-color: #3279DE;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

#submit {
  background-color: #3279DE;
  color: white;
  font-family: "Arimo", arial, sans-serif;
  font-size: 16pt;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

fieldset {
  border: none;
}
