/* Definding the bodys restrictions */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

/* Initiating and importing the font "Bowlby One SC as the heading fonts" */
@font-face {
  font-family: Bowlby One SC;
  src: local('Bowlby One SC Regular'), local('BowlbyOneSC-Regular'), url(https://fonts.gstatic.com/s/bowlbyonesc/v12/DtVlJxerQqQm37tzN3wMug9P_g_2og.woff2) format('woff2');
}

/* Initiating and importing the font "Arimo" as the paragraph font */
@font-face {
  font-family: Arimo;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(https://fonts.gstatic.com/s/arimo/v15/P5sMzZCDf9_T_10axCF8jA.woff2) format('woff2');
}

/* styleing flexcontainers on the sites */
.flexContainer {
  display: flex;
  align-items: center;
}

.textBlock {
  flex: 1;
  padding: 50px;
}

.imgBlock {
  flex: 1;
  padding: 50px;
}

/* Sets color, font and shadow to the paragraph and heading texts, aswell as fallback fonts */
p {
  color: #f0f0f0;
  font-family: 'Arimo', arial, sans-serif;
  text-shadow: 2pt 2pt rgba(22, 22, 22, 0.28);
  text-align: justify;
}

h1,
h2,
h3 {
  color: #f0f0f0;
  font-family: 'Bowlby One SC', arial black, sans-serif;
  text-shadow: 3pt 3pt rgba(22, 22, 22, 0.28);
  text-transform: uppercase;
}

/* Sets the content of the page to be 80% of the body and centered */
.mainContent {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*Navbar and topbar styling*/

/*Override default button css*/
.navbar button,
.topbar button {
  /*color: rgba(00, 00, 00, 0);*/
  background-color: rgba(00, 00, 00, 0); /*Color is whatever, but transparent*/
  border: none;
  outline: none;
  cursor: pointer;
}

/*Logo*/
.cornerLogo {
  width: 150px;
  height: auto;
}

/*Outer flex container in topbar and navbar*/
.flexWrapper {
  margin: 30px; /*To not squisch logo and buttons into the side*/
  display: flex;
  justify-content: space-between;
}

/*Title is in topbar*/
.pageTitle {
  align-self: flex-end; /*Be on the bottom of the box*/
}

#navbarTextFlexContainer {
  flex-grow: 1; /*This div takes up all available space*/
  display: flex;
  justify-content: space-evenly;
  align-items: center; /*Align text vertically in the middle*/
}

/*Override standard link styling*/
#navbarTextFlexContainer h2 a {
  color: #f0f0f0;
  text-decoration: none;
}

#navbarTextFlexContainer h2 a:active {
  color: #51b7ff;
}

#navbarTextFlexContainer h2 a:hover {
  text-decoration: underline;
}

/*Styling for enlarge_picture.js*/
#largeImgContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#overlay {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.fullPage{
  height: 100%;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;

}
.fa:hover {
  opacity: 0.7;
}
  /* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: white;
}

.footer{
  color: #f0f0f0;
  font-family: "Arimo", arial, sans-serif;
  /* position: absolute; */
  text-align: left;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height:70px;
  background: #22222E;
  line-height: 70px;
  flex-shrink:  0;
}


/*Responsive*/
@media only screen and (max-width: 1000px) and (min-width: 690px) {
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14.72px;
  }

  .cornerLogo,
  .navbar button img,
  .topbar button img {
    width: 75px;
    height: auto;
  }

  .mainContent {
    width: 90%;
  }

  .flexContainer {
    flex-direction: column;
  }

  .flexContainer:nth-of-type(2n+1) {
    flex-direction: column-reverse;
  }

  .textBlock {
    padding-bottom: 10px;
  }

  .imgBlock {
    padding-top: 10px;
  }

  .footer {
    line-height: 70px;
    font-size: 14px;
    white-space: nowrap;
  }
}

/* Scales the content if the window is smaler than 689px */
@media only screen and (max-width: 689px) {
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14.72px;
  }

  #navbarTextFlexContainer {
    flex-direction: column;
  }

  .flexWrapper {
    align-items: flex-start;
  }

  .cornerLogo,
  .navbar button img,
  .topbar button img {
    width: 75px;
    height: auto;
  }

  .mainContent {
    width: 90%;
  }

  .flexContainer {
    flex-direction: column;
  }

  .flexContainer:nth-of-type(2n+1) {
    flex-direction: column-reverse;
  }

  .textBlock {
    padding-bottom: 10px;
  }

  .imgBlock {
    padding-top: 10px;
  }

  .footer {
    line-height: 30px;
    font-size: 14px;
  }
}
