
body {
  width: 60%;
  margin: auto;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

h4 {
  margin-bottom: 3px;
}

h4 + p, h4 + ul {
  margin-top: 0px;
}

header {
  position: relative;
}

sub {
  position: absolute;
  right: 0px;
}

section {
  border-top-style: dotted;
  border-top-width: thin;
}

#logo {
  width: 200px;
  float: right;

}

footer {
  text-align: right;
  font-size: 14px;
  margin-top: 50px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
