
body {
  width: 60%;
  margin: auto;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

h3 {
  margin-bottom: 3px;
}

h3 + p, h3 + ul {
  margin-top: 0px;
}

header {
  position: relative;
}

sub {
  position: absolute;
  right: 0px;
}

section {
  border-top-style: dotted;
  border-top-width: thin;
}

#logo {
  width: 200px;
  float: right;
}

.image {
  display: block;
  width: 80%;
  margin: auto;
}

figcaption {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

#pageoverview li {
  margin-top: 20px;
}

#pageoverview img {
  margin-top: 10px;
}

#palett {
  display: block;
  margin: auto;
  width: 300px;
}

footer {
  text-align: right;
  font-size: 14px;
  margin-top: 50px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
