body {
  /*Due to cascading hierarcy, the modular background_image.js will not work with media query.*/
  background-image: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.28),
      rgba(22, 22, 22, 0.28)
    ),
    url("../images/placeholder_index_comp.jpg");
  background-size: cover;
  background-repeat: repeat, no-repeat;
}

/*Move this part to main stylesheet if appropriate*/
#welcomeMessage,
.openingHours {
  text-align: center;
}

@media (max-width: 1000px) {
  body {
    background-image: linear-gradient(
        to bottom,
        rgba(22, 22, 22, 0.28),
        rgba(22, 22, 22, 0.28)
      ),
      url("../images/placeholder_index_small_alt1_combined.jpg");
    background-repeat: repeat, repeat;
  }
}
